

<div style="background-color: dodgerblue">
<div *ngIf="!LogedIn">
  <h2>Zaloguj się </h2>
  <table>
    <tr>
      <td>
        <label>E-mail</label>
      </td>
      <td>
        <input #email id="email" type="text" name="email" >
      </td>
    </tr>
    <tr>
    <td>
      <label>Hasło</label>
    </td>
    <td>
      <input #password id="password" type="password" name="password">
    </td>
    </tr>
  </table>
  <p style="color:red">{{loginError}}</p>
    <button (click)="onSubmit(email.value,password.value)">Login</button>
</div>
<div *ngIf="LogedIn">
  <a>Jesteś zalogowany <b>{{email}}</b></a>
</div>
</div>
