#mat-form-field {
  align-content: center;
  width: auto;
}


log {
  border: 25px solid #026aa7;
  border-radius: 15px;
}

#loghead {
  background-color: #026aa7;
  width: auto;
  border-radius: 10px;
}

