<header>
<h1>Misja: <b style="color:#0c3953">{{title}}</b></h1>
</header>
<nav>
  <h1 style="text-align: center">Menu</h1>
  <button mat-raised-button (click)="goToDashboard()">Dashboard</button>
</nav>

<section>
  <div *ngIf="!isBoardSelected">
  <div *ngIf="!LogedIn">
    <app-default-main></app-default-main>
  </div>
<div *ngIf="LogedIn">
  <h2>Witaj, {{userWithToken.user.displayName}}</h2>
<app-show-tables [userWithToken]=this.userWithToken (messageEvent)="boardIsSelected($event)"></app-show-tables>
</div>
  </div>
  <div *ngIf="isBoardSelected">
    <h1>{{selectedBoard.name}}
      <app-explore-board [board]=this.selectedBoard ></app-explore-board>
    </h1>
  </div>
</section>

<aside>
<app-login-form (messageEvent)="receiveMessage($event)"></app-login-form>
</aside>
