header {
  background-color: #666;
  height: 5%;
  text-align: center;
  color: white;
}
nav{
  float: left;
  background-color: #9e9e9e;
  height:95%;
  width:10%;
}
section{
  padding:10px;
  float:left;
  height: 95%;
  background-color: deepskyblue;
  width:75%;
}

aside{
  padding: 10px;
  text-align: center;
  float: left;
  background-color: dodgerblue;
  width:15%;
  height:95%;
}
