<div *ngIf="!registered">
  <mat-card>
    <mat-card-title>
      Rejestracja
    </mat-card-title>
    <mat-card-content>
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput [(ngModel)]="email" name="email" type="email" form>
      </mat-form-field>
      <br>

      <mat-form-field appearance="outline">
        <mat-label>Hasło</mat-label>
        <input matInput [(ngModel)]="password" name="password" type="password" placeholder="8 znaków">
      </mat-form-field>
      <br>


      <mat-form-field appearance="outline">
        <mat-label>Nazwa</mat-label>
        <input matInput [(ngModel)]="displayName" name="displayName" type="text" placeholder="np. Dodger40">
      </mat-form-field>
      <br>

      <button mat-raised-button (click)="onSubmit(email,password,displayName)"> Zarejestruj</button>
    </mat-card-content>
  </mat-card>
</div>
<div *ngIf="registered">
  <p style="color:lightgreen">{{postMessage}} </p>
</div>


