<div class="header" style="text-align: center">
  <h1 mat-dialog-title>Komentarze</h1>
</div>
<div mat-dialog-content>
  <div *ngFor="let comment of this.comments " >
    <mat-card>
      <mat-card-header style="text-align: center;"><b>{{comment.user.displayName}}</b></mat-card-header>
      <mat-card-content >{{comment.text}}</mat-card-content>
    </mat-card>
  </div>
</div>

<div mat-dialog-actions style="text-align: center">
  <button class="btn" (click)="confirm()">{{ data.confirmText }}</button>
</div>
