.lists {
  width: 1000px;
  height: 1080px;
}

.card {
  background-color: #0c3953;
  width: 80%;
  padding: 10px;
  color: lightblue;
}

.cardHeader {
  background-color: #b8b8b8;
  width: 80%;
  alignment: center;
  color: black;
}

mat-grid-tile {
  border-radius: 10px;
}

#karta {
  vertical-align: top !important;
  text-align: center;
  width: 100%;
  align-items: center;

}

#lista {

}

