<h4>Oto Twoje tablice</h4>

  <mat-grid-list cols="4" rowHeight="2:1" >
    <div *ngFor="let board of listOfBoards">
      <mat-grid-tile (click)="test(board.id)">

        <mat-grid-tile-header  [style.backgroundColor]="'darkgoldenrod'">
          <a>Nazwa tablicy: <strong>{{board.name}}</strong> <br>
          Właściciel: {{board.owner.email}}</a>
        </mat-grid-tile-header>

        <img src="assets/placeholder.jpg" alt="Placeholder">
      </mat-grid-tile >
    </div>

  </mat-grid-list>

<div>
  <h2>Stwórz nową tablicę</h2>
  <table>
    <tr>
      <td>
        <label>Nazwa nowej tablicy</label>
      </td>
      <td>
        <input #boardName id="boardName" type="text" name="boardName" >
      </td>
    </tr>
  </table>
  <button (click)="addBoard(boardName.value)">Dodaj</button>
</div>



